body {
    background-color: purple;
    font-family: Arial, sans-serif;
} main {
    background-color: azure;

} nav {
    color: aliceblue;
} nav a{
    color: aliceblue;
    padding: 10px;
} ul {
    list-style: none;
    display: flex;
    justify-content: end;
    justify-content:flex-end;
} p {
    min-width: 300px;
} section img {
    width: 200px;
    height: 100px;
    border: 8px solid orange;
    margin: 5px;
} #github{
    /*for this section to get it to sit above the rest i gave it 
    an id seperate to the others so there was a line break*/
    display: flex;
    justify-content: center;
} h4 {
    color:aliceblue

} .contact-me {
    /* while doing this section i tried to apply it tothe footer 
    but was unable to add any css and fixed this by using a class 
    on each of the elements*/
    justify-content: center;
    color:aliceblue;
}