body {
    background-color: purple;
    font-family: Arial, sans-serif;
} main {
    background-color: azure;

} nav {
    color: aliceblue;
} nav a{
    color: aliceblue;
    padding: 10px;
} ul {
    list-style: none;
    display: flex;
    justify-content: end;
    justify-content:flex-end;
} p {
    min-width: 300px;
} section img {
    width: 200px;
    height: 100px;
    border: 8px solid orange;
    margin: 5px;
    
} section a {
    width: 400px;
    height: 400px;
}